 
<td><%= column[:index] + 1 %></td>
<td><%= column[:name] %></td>
<td><%= column[:range] %></td>
<td><%= column[:tab_id] %></td>
<td><%= Category.find(column[:category_id]).name %></td>
<td><%= column[:xml_name] %></td>
<td>
  <%= render(:partial => "tags/button", :locals => {:column => column}) %>
</td>        
 