<div class="show">
  <h1>所有的tab與col</h1>

  <% i = 1 %>
  <% @tabs.each do |tab| %>
    <div class="sheet-block">
      <h3><%='Sheet ' + i.to_s + ' : ' + tab.name %></h3>
      <table class="table table-hover">
        <tr>
          <th>欄位</th>
          <th>XML tag 名稱</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      
        <% tab.tags.each do |tag| %>
          <tr>
            <td><%= tag.col %></td>
            <td><%= tag.name %></td>
            <td>
              <div class="form-inline">
                <%= form_for tag do |f| %>
                  <div class="form-group">
                    <% if tag.name .blank? %>
                      <%= f.text_field :name, placeholder: "name of your xmltag" %>
                      <%= f.submit 'OK', class: "btn btn-primary" %>
                    <% else %>
                      <%= link_to 'Clear', tag_path(tag, tag: {name: nil}), method: :patch, class: "btn btn-default" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% i += 1 %>
  <% end %>
  <div><%= link_to 'See My JS Pack', js_spreadsheet_path(@spreadsheet) %></div>
</div>